[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"django-bootstrap4" = "*"
bravado = "*"
hermescache = "*"
aiohttp = "*"
maya = "*"
django-environ = "*"
"psycopg2" = "*"
celery = "*"
redis = "*"
django-active-link = "*"
django-redis-cache = "*"
channels = "*"
graphviz = "*"
channels-redis = "*"


[dev-packages]

django-extensions = "*"
werkzeug = "*"
django-debug-toolbar = "*"


[requires]

python_version = "3.6"
